.trends{
    flex: 20;
    padding: 40px;
    height: calc(100vh - 50px);
    background-color: lightsteelblue;
}

.imageGameTrends{
    width: 120px;
    height: 120px;
    text-align: center;
}

.tendenciasTrendsList{
    display: inline-block;
    flex-flow: column wrap;
    column-count: 5;
    list-style: none;
}

.nuevosTrendsList{
    display: inline-block;
    flex-flow: column wrap;
    column-count: 5;
    list-style: none;
}

.todosTrendsList{
    display: inline-block;
    flex-flow: column wrap;
    column-count: 5;
    list-style: none;
}

.itemTrends{
    text-align: center;
}

.titleGameTrends{
    color:white;
    text-decoration: none;
    text-align: center;
    flex: 1;
}

.titleGameTrends:hover{
    color:orangered;
}

.titleTrendsBox{
    width: 120px;
    height: 60px;
    position: relative;
    background-color: darkslategray;
    display: flex;
 
}