.gamesProfile{
    flex: 20;
    padding: 40px;
    height: calc(100vh - 50px);
    background-color: lightsteelblue;
}

.imageGameProfile{
    width: 120px;
    height: 120px;
    text-align: center;
}

.gamesProfileList{
    display: inline-block;
    flex-flow: column wrap;
    column-count: 4;
    list-style: none;
}

.itemGameProfile{
    list-style: none;
    text-align: center;
}

.titleGameProfile:hover{
    color:orangered;
}

.titleGameProfile{
    color:white;
    text-decoration: none;
    text-align: center;
    flex: 1;
}

.titleProfileBox{
    width: 120px;
    height: 60px;
    position: relative;
    background-color: darkslategray;
    display: flex;
 
}