.inputCreate{
    padding: 15px 50px;
    border-radius: 30px;
    border-width: 0px;
    color: #647B7A;
    background-color: #F9F9F9;
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
}

.titleCreate{
    text-align: center;
    font-size: 30px;
}

.genresChoices{
    width: 30%;
    margin: auto;
    height: 50px;
    border-radius: 50px;
}

.genresBox{
    text-align: left;
    font-size: 20px;
    margin-top: -250px;
}

.columnForm{
    display: flex;
}

.textAreaAdmin{
    margin-left: 200px;
}

.titleGenre{
    font-weight: bolder;
    font-size: 24px;
    color:blue;
}