.login{
    width: 100vw;
    height: 100vh;
    background-color: moccasin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginWrapper{
    width: 70%;
    height: 70%;
    background-color: moccasin;
    display: flex;
    padding: 45px;
}
.loginLeft,.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginLogo{
    font-size: 80px;
    font-weight: 800;
    color:orangered;
    margin-bottom: 10px;
}
.loginInfo{
    font-size: 30px;
    font-weight: 700;
    color:royalblue;
    margin-bottom: 100px;
}
.loginBox{
    height: 200px;
    padding: 20px;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registerBox{
    height: 70px;
    padding: 20px;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginInput{
    height: 30px;
    border-radius: 10px;
    border: 1px solid goldenrod;
    font-size: 18px;
}
.loginInput:focus{
    outline:none;
}
.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: coral;
    color:white;
    font-size: 20px;
    font-weight: 500px;
}
.registerButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color:blue;
    color:white;
    font-size: 20px;
    font-weight: 500px;
}